body {
    background: #FFFFCC ;
    }
.about {
     color:  #000000  ;
     margin: 0 auto; /* Устанавливаем отступы слева и справа автоматически */
     text-align: center; /* Выравниваем текст по центру */
     padding: 200px 200px; /* Установка отступов вокруг текста кнопки */
}
.main-link {
     color: #660033 ;
}
