.main-link {
     color: black ;
     margin: 0 auto; /* Устанавливаем отступы слева и справа автоматически */
     text-align: center; /* Выравниваем текст по центру */
     padding: 10px 600px; /* Установка отступов вокруг текста кнопки */
 ;
}
.kitchen {
  color: #660066 ;
  margin: 0 auto; /* Устанавливаем отступы слева и справа автоматически */
  text-align: center; /* Выравниваем текст по центру */
  padding: 10px 50px; /* Установка отступов вокруг текста кнопки */
  }
.kuxnya-link {
 color: black ;
 margin: 0 auto; /* Устанавливаем отступы слева и справа автоматически */
 text-align: center; /* Выравниваем текст по центру */
 padding: 10px 600px; /* Установка отступов вокруг текста кнопки */
 }
body {
 background : #CC99CC ;
 }