{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'restr/css/book.css' %} ">
</head>
<body>
<form method="post" enctype="multipart/form-data" class="b">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Забронировать" class="book">
</form>

<a href="/" class="main-link">На главную</a>

</body>
</html>