{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'restr/css/home.css' %} ">
</head>
<body>


<aside class="navigation-aside">
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button class="button"  type="submit">Выйти</button><br>
    </form>
    {% else %}
    <form action="register" method="post">
       {% csrf_token %}
       <button class="button" type="submit">Зарегистрироваться</button><br>
    </form>
    <form action="{% url 'login' %}" method="post">
       {% csrf_token %}
       <button class="button"  type="submit">Войти</button><br>
    </form>
    {% endif %}
    <span class="boulanger">Boulanger</span>
    <h3 class="navig">Навигация</h3>
    <ul>
        <a class='xx' href="zavedeniye"><li>Заведения</li></a>
        <a class='xx' href="kuxnya"><li>Кухня</li></a>
        <a class='xx' href="menu"><li>Меню</li></a>
        <a class='xx' href="review"><li>Отзывы</li></a>
        <a class='xx' href="about"><li>О нас</li></a>


    </ul>
</aside>

<aside class="search-aside">
  <form  action="search" method="POST">
    {% csrf_token %}
    <input type="text" name="search_restaurant">
    <button type="submit">Search</button>
  </form>

</aside>



</body>
</html>