{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'restr/css/menu.css' %} ">
</head>
<body>
<h1 class="menu">{{ restaurant.name }}</h1>
<hr>
<b class="main-link">Время работы: </b>{{ restaurant.description }}<br>
<b class="main-link">Адрес: </b>{{ restaurant.address }}<br>
<b class="main-link">Контакты: </b>{{ restaurant.contact_info }}</a><br>
<b class="main-link">Заведение: </b><a class="main" href="/zavedeniye/{{ restaurant.zavedeniye.id }}">{{ restaurant.zavedeniye.name }}</a><br>
<b class="main.link">Кухня: </b><a class='main' href="/kuxnya/{{ restaurant.kuxnya.id }}">{{ restaurant.kuxnya.name }}</a><br>

<img src="{{ restaurant.photo.url }}" alt="Фото ресторана">
<hr>

<h2 class="menu">Меню:</h2>
{% for item in menu %}
    <p class="main-link"><b>Название: </b>{{ item.name }}</p>
    <p class="main-link"><b>Состав: </b>{{ item.description }}</p>
    <p class="main-link"><b>Цена: </b>{{ item.price }}</p>
    <img src="{{ item.photo.url }}" alt="Фото блюда">
    <hr>
{% endfor %}

<h2 class="menu">Отзывы:</h2>
{% for rev in review %}
    <p class="main-link"><b>Юзер: </b>{{ rev.user_name }}</p>
    <p class="main-link"><b>Отзыв: </b>{{ rev.text }}</p>
    <p class="main-link"><b>Оценка: </b>{{ rev.rating }}</p>
    <hr>
{% endfor %}
<a class="main" href="/book">Забронировать</a>
<a class="main" href="/createrev">Оставить отзыв</a>
<hr>
<a  class='main' href="/">На главную</a>
</body>